# IDEA
/.idea/*.xml
/.idea/.name
/.idea/modules
/.idea/inspectionProfiles
!/.idea/runConfigurations/*

# Build
/.gradle
/build
/out

# Gradle
/gradle-app.setting

# Temporary
/tmp

# LocalConfig & Auth keys
/local.properties
/auth